#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: .5rem;

}

:root {
  --clr-gray: #B9BDCF --fs-sm: .75rem;
  --fs-m: 1rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 3rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.6;
  font-family: 'Roboto', sans-serif, 'Poppins', sans-serif, 'Raleway', sans-serif;
}

fieldset {
  border: none;
}


/******************************************* utility -class******************************************************* */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.jus-cent {
  justify-content: center;
}

.sp-btw {
  justify-content: space-between;
}

.algn-cen {
  align-items: center;
}

.gap-05 {
  gap: .5rem
}

.gap-1 {
  gap: 1rem
}

.gap-2 {
  gap: 2rem
}

.flow-05 {
  margin-block-end: .5rem;
}

.flow-1 {
  margin-block-end: 1rem;
}

.flow-2 {
  margin-block-end: 2rem;
}

.flow-3 {
  margin-block-end: 3rem;
}

.flow-4 {
  margin-block-end: 4rem;
}

.flow-5 {
  margin-block-end: 5rem;
}

.clr-gray {
  color: var(--clr-gray);
}


/******************************************* ******************************************************* */


.card {
  /* max-width: 60%; */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .20);
  padding: .5rem;

}

::placeholder {
  padding-left: 2.7rem;
}

/* .search{
  background-color: red;
} */

.salary {

  text-align: center;
  border: 1px solid #334680;
  width: 3.938rem;
  border-radius: 5px;
  font-size: .80rem;
  margin-block-end: .5rem;
}

@media screen and (min-width:700px) {
  .media-cont {
    display: flex;
    justify-content: space-between;

  }

  .cont {
    width: 100%
  }

  .mapped {
    width: 60%;
    margin-top: 2rem;
    position: relative;
  }

  .main-form {
    width: 33%;
    margin-block-start: 2rem;
  }

  .MuiStack-root {
    /* position:absolute;
  right:0;
  bottom:-2rem; */
    width: 22rem;
    margin-left: auto;
  }

  .card-loc {
    display: flex;
    justify-content: space-between;
    /* gap: 20rem; */
  }

  .locloc {
    position: absolute;
    right: 1rem
  }


}
