.clrgray {
    color: #B9BDCF;
}

.clrblue {
    color: #1E86FF;
}

.howtoapply {}

a{
    text-decoration: none;
}


.fulltime {
    text-align: center;
    border: 1px solid #334680;
    width: 3.938rem;
    border-radius: 5px;
    font-size: .80rem;
    margin-block-end: .5rem;
}


.jobTitle {
    color: #334680;
}



.description {
    color: #334680;
   
}

.description p {
    margin-block-end: 2rem;
}
